html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  html a {
    color: #F17721; }
    html a:hover {
      color: #A55A99;
      cursor: pointer; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h2,
.masthead-home p {
  font: bold 28px "Bitter", serif;
  letter-spacing: -0.5px; }

.lg-nav {
  display: none; }

.nav-logo {
  width: 120px;
  height: auto; }

nav a {
  font-size: 20px;
  font-family: "nexa_rust_sansblack";
  text-decoration: none;
  color: #F8AC20;
  display: block;
  padding: 12px;
  transition: all 250ms; }
  nav a:hover {
    color: white; }
nav ul {
  list-style: none;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center; }
  nav ul li {
    margin: 0;
    padding: 0;
    float: left; }

img {
  max-width: 100%;
  height: auto; }

header {
  background: #CF4B19;
  padding: 5px 0; }

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #502D5C;
  padding: 120px 5%; }
  .tagline img {
    max-width: 300px;
    height: auto;
    display: block; }
  .tagline h2 {
    color: #F17721;
    font-family: "nexa_rust_sansblack";
    font-size: 36px;
    padding-left: 5%;
    text-transform: uppercase; }

.text-yellow {
  color: #F8AC20; }

.text-light-red {
  color: #E34343; }

.about {
  background: #764F84;
  padding: 70px 5%; }
  .about h2 {
    color: #F17721; }
  .about p {
    color: white;
    text-align: center;
    max-width: 1024px;
    display: block;
    margin: 0 auto; }

.venue {
  background-color: #F5F5F5;
  color: #91756D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 5%; }
  .venue .blocks-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; }
  .venue h2 {
    color: #91756D;
    text-align: center;
    font-family: "nexa_rust_sansblack";
    font-size: 40px;
    text-transform: uppercase; }
  .venue .venue-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 320px;
    padding: 0 5%;
    box-sizing: border-box; }
    .venue .venue-block img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 10px auto; }
    .venue .venue-block p {
      font-size: 18px;
      line-height: 22px; }
  .venue .left-title {
    color: #4C3D40; }

.masthead-home {
  text-align: center;
  background-image: url(../img/masthead-bg.jpg);
  padding: 55px 0; }
  .masthead-home img {
    width: 70%;
    max-width: 720px; }
  .masthead-home p {
    color: white; }
  .masthead-home .btn-hollow {
    font-size: 24px;
    border: 1px solid white;
    padding: 15px 30px;
    background-color: transparent;
    font-family: "Bitter", serif;
    border-radius: 4px;
    color: white;
    transition: all 250ms; }
    .masthead-home .btn-hollow:hover {
      background: white;
      color: #F8AC20;
      cursor: pointer; }

.masthead-agenda {
  height: 580px;
  text-align: center;
  background-image: url(../img/AgendaBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .masthead-agenda img {
    display: block;
    max-width: 224px;
    height: auto;
    margin-bottom: 20px; }
  .masthead-agenda h2 {
    font-family: "nexa_rust_sansblack";
    font-size: 50px;
    color: #F8AC20; }

.masthead-sponsors {
  height: 580px;
  text-align: center;
  background-image: url(../img/SponsorsBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .masthead-sponsors img {
    display: block;
    max-width: 224px;
    height: auto;
    margin-bottom: 20px; }
  .masthead-sponsors h2 {
    font-family: "nexa_rust_sansblack";
    font-size: 50px;
    color: #A55A99; }

.masthead-volunteers {
  height: 580px;
  text-align: center;
  background-image: url(../img/VolunteersBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .masthead-volunteers img {
    display: block;
    max-width: 224px;
    height: auto;
    margin-bottom: 0px; }
  .masthead-volunteers h2 {
    font-family: "nexa_rust_sansblack";
    font-size: 50px;
    color: #F8AC20;
    margin: 10px 0; }
  .masthead-volunteers h3 {
    font-family: "Catamaran", sans-serif;
    font-size: 24px;
    color: #F8AC20;
    margin: 15px 0;
    padding: 0 5%; }

.masthead-pitches {
  height: 580px;
  text-align: center;
  background-image: url(../img/PitchesBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .masthead-pitches img {
    display: block;
    max-width: 224px;
    height: auto;
    margin-bottom: 30px; }
  .masthead-pitches h2 {
    font-family: "nexa_rust_sansblack";
    font-size: 50px;
    line-height: 50px;
    color: #F8AC20;
    margin: 10px 0; }
  .masthead-pitches h3 {
    font-family: "Catamaran", sans-serif;
    font-size: 24px;
    color: #F8AC20;
    margin: 15px 0; }

.masthead-contact {
  height: 580px;
  text-align: center;
  background-image: url(../img/ContactBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .masthead-contact img {
    display: block;
    max-width: 224px;
    height: auto;
    margin-bottom: 0px; }
  .masthead-contact h2 {
    font-family: "nexa_rust_sansblack";
    font-size: 50px;
    color: #F17721; }

.mast-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.faq {
  background: #B62626;
  color: white;
  padding: 50px; }
  .faq .wrapper dd {
    margin-bottom: 50px; }

.sponsors {
  background: #F5F5F5;
  padding: 10px 0;
  text-align: center; }
  .sponsors h3 {
    color: #F17721;
    font-family: "Bitter", serif;
    font-size: 26px; }
  .sponsors img {
    display: inline-block;
    padding: 15px; }
  .sponsors .sponsors-logos {
    max-width: 1100px;
    margin: 0 auto; }

.left-title,
.right-desc {
  text-align: center;
  padding: 30px; }

.about .left-title {
  padding: 0;
  padding-top: 30px; }

.venue .left-title {
  padding-bottom: 30px; }

.right-desc {
  padding-top: 0; }

dl a {
  color: #F8AC20; }

p,
dt,
dd {
  font: normal 18px "Catamaran", sans-serif;
  line-height: 22px; }

dt {
  font-weight: bold; }

dd {
  padding: 0;
  margin: 0; }

.map,
.map iframe {
  height: 425px; }

.xs-nav {
  height: 70px;
  display: flex;
  align-items: center; }
  .xs-nav ul {
    background: #CF4B19;
    position: absolute;
    top: 60px;
    width: 100%; }
    .xs-nav ul li {
      float: none; }
  .xs-nav .logo-mobile {
    position: absoulute;
    left: 10px;
    top: 0; }
  .xs-nav .menu-toggle {
    position: absolute;
    right: 20px;
    top: 30px; }
    .xs-nav .menu-toggle img {
      width: 24px; }

footer {
  background: #F17721;
  padding: 5px 0; }
  footer p {
    font-size: 12px;
    text-align: center;
    color: white; }

@media (min-width: 768px) {
  p,
  dt,
  dd {
    font: normal 20px "Catamaran", sans-serif;
    line-height: 36px;
    padding: 0 15px; }

  dt {
    font-weight: bold; }

  .tagline {
    flex-direction: row; }
    .tagline h2 {
      font-size: 60px; }

  .mastheads h2 {
    font-size: 60px;
    line-height: 60px; }
  .mastheads h3 {
    font-size: 30px; } }
@media (min-width: 992px) {
  .xs-nav {
    display: none; }

  .lg-nav {
    display: block; }

  h2,
  .masthead p {
    font: bold 46px "Bitter", serif; }

  nav {
    width: 1020px;
    margin: 0 auto;
    display: block; }

  .footer p {
    font-size: 20px; }

  .sponsors {
    padding: 100px 0; }
    .sponsors h3 {
      font-size: 36px; } }
@media (min-width: 1200px) {
  .venue {
    overflow: auto;
    height: 525px; }
    .venue .left-title {
      padding-top: 100px; }

  .about {
    padding: 80px 0;
    overflow: auto; }

  .left-title,
  .right-desc {
    padding: 0; }

  .left-title {
    width: 540px;
    float: left;
    text-align: right; }

  .right-desc,
  .map {
    width: 700px;
    float: left;
    padding-left: 85px;
    text-align: left; }

  .faq {
    padding: 125px; }
    .faq .wrapper {
      max-width: 1180px;
      margin: 0 auto; }
      .faq .wrapper dl {
        -webkit-columns: 300px 3;
        -moz-columns: 300px 3;
        columns: 300px 3; } }

/*# sourceMappingURL=main.css.map */
